.user-item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-page{
  position: relative;
  width: 30vw;
  margin-bottom: 100px;

}

.user-contents{
  position: absolute;
  width: 100%;
  z-index: 3;
}

.followfollower{
  display: flex;
  justify-content: space-between;
}

.follow{
  padding: 5px;
  margin-top: 15px;
}

.follower{
  padding: 5px;
  margin-top: 15px;
  right:0;
}


.hidden{
  display: none;
  background-color:#f8f8f8;
  padding: 5px;
}
a{
  color: black;
}
