.user-item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:row-reverse;
}

.user-page{
  position: relative;
  width: 30vw;
  margin-bottom: 100px;
}

.user-contents{
  position: absolute;
  width: 100%;
}

.followfollower{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}


.hidden{
  display: none;
  z-index: 9999;

}
a{
  color: black;
}
